esb-example-wsdl/src/main/resources/esb-example-webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
	name="CIJUG-WEBSERVICE"
	targetNamespace="https://github.com/rabid-fish"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:math="https://github.com/rabid-fish"
	xmlns:mathxsd="https://github.com/rabid-fish/math"
>

	<types>
		<schema
			targetNamespace="https://github.com/rabid-fish/math"
			xmlns="http://www.w3.org/2001/XMLSchema"
			version="1.0"
			elementFormDefault="qualified"
		>
			<xs:element name="MathOperationRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="2" maxOccurs="unbounded" name="argument" nillable="true" type="xs:decimal" />
					</xs:sequence>
					<xs:attribute name="operation" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>

			<xs:element name="MathOperationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="error" type="xs:string" />
						<xs:element name="value" nillable="true" type="xs:decimal" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</schema>
	</types>

	<message name="ProcessMathOperationRequest">
		<part element="mathxsd:MathOperationRequest" name="MathOperationRequestPart" />
	</message>

	<message name="ProcessMathOperationResponse">
		<part element="mathxsd:MathOperationResponse" name="MathOperationResponsePart" />
	</message>

	<portType name="MathOperationPortType">
		<operation name="ProcessMathOperation">
			<input message="math:ProcessMathOperationRequest" />
			<output message="math:ProcessMathOperationResponse" />
		</operation>
	</portType>

	<binding name="MathOperationBinding" type="math:MathOperationPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<operation name="ProcessMathOperation">
			<soap:operation soapAction="https://github.com/rabid-fish" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>

	</binding>

	<service name="MathOperationService">
		<documentation />

		<port binding="math:MathOperationBinding" name="MathOperationPort">
			<soap:address
				location="http://localhost/cijug-webservice/MathOperationService" />
		</port>
	</service>

</definitions>
